/*font size*/
h1 {
  font-size: 5.0vw;
}
h2 {
  font-size: 4.0vw;
}
h3 {
  font-size: 3.0vw;
}
h4 {
  font-size: 2.5vw;
}
p {
  font-size: 2.0vw;
}
/* Container holding the logo image*/
.container {
  position: sticky;
  top: 1.0vh;
  width: 100%;
  text-align: center;
}
/* Container holding the search image and the text */
.container-fluid {
  width: 100%;
  inline-size: 100%;
  position: relative;
  text-align: left;
  color: black;
}
#myInput {
  box-shadow: 0 0.3vw 1.0vw rgb(0 0 0 / 0.2);
  width: 100%; /* Full-width */
  font-size: 2.0vw; /* Increase font-size */
  padding: 1.0vw 1.0vw 1.0vw 1.0vw; /* Add some padding */
  border: 0.1vw solid #ddd; /* Add a grey border */
  margin-bottom: 1.0vw; /* Add some space below the input */
}
#myUL {
  /* Remove default list styling */
  display: none;
  box-shadow: 0 0.3vw 1.0vw rgb(0 0 0 / 0.2);
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#myUL li a {
  border: 0.1vw solid #ddd; /* Add a border to all links */
  margin-top: -1.0vw; /* Prevent double borders */
  background-color: white; /* White background color */
  padding: 1.0vw; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 2.0vw; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}
#myUL li a:hover:not(.header) {
  background-color: green; /* Add a hover effect to all links, except for headers */
}
/* user selection data css*/
.post-container {
  width:100%;
  inline-size: 100%;
  position: relative;
  margin: 1.0vw 1.0vw 1.0vw 1.0vw;
 }
#image {
  float: left;
  display: none;
  margin: 1.0vw 1.0vw 0.0vw 0.0vw;
  box-shadow: 0 0.3vw 1.0vw rgb(0 0 0 / 0.2);
}
.info {
  inline-size: 100%;
  overflow-wrap: break-word;
  font-weight: bold;
  text-shadow: 0.3vw 0.3vw rgb(0 0 0 / 0.2);
}
.more_info {
  inline-size: 100%;
  overflow-wrap: break-word;
  font-weight: bold;
  text-shadow: 0.3vw 0.3vw rgb(0 0 0 / 0.2);
}
.post-title {
  inline-size: 100%;
  overflow-wrap: break-word;
  font-weight: bold;
  text-shadow: 0.3vw 0.3vw rgb(0 0 0 / 0.2);
  margin-bottom: 0.0vh;
}
#THC {
  font-weight: 900;
  text-shadow: 0.3vw 0.3vw rgb(0 0 0 / 0.2);
}
#CBD {
  font-weight: 900;
  text-shadow: 0.3vw 0.3vw rgb(0 0 0 / 0.2);
}
#Sativa {
  font-weight: bold;
  text-shadow: 0.3vw 0.3vw rgb(0 0 0 / 0.2);
}
#Indica {
  font-weight: bold;
  text-shadow: 0.3vw 0.3vw rgb(0 0 0 / 0.2);
}
#Hybrid {
  font-weight: bold;
  text-shadow: 0.3vw 0.3vw rgb(0 0 0 / 0.2);
}
#Grow {
  font-weight: bold;
  text-shadow: 0.3vw 0.3vw rgb(0 0 0 / 0.2);
}
.post-IorS {
  font-weight: bold;
}